
/* 
@media only screen and (max-width:576px){
    .my-image{
        position: relative;
    }
    .my-pix{
        position: absolute;
        right: 165px;
        top: 70px;

    }
}

@media only screen and (min-width:320px) and (max-width:400px){
    .my-image{
        position: relative;
    }
    .my-pix{
        position: absolute;
        right: 200px;
        top: 70px;

    }
}
@media only screen and (min-width:768px){

.last-seen{
    right: 210px;
}

} */
